@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #d0f112;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #eba40b;
  }
}

.perspective {
  perspective: 1000px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}